.idea
.DS_Store
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
*.zip
*.bd
.log
vendor
/dist

# Dev
config-local.json
yarn.lock
composer.lock

# Tests
codeception.yml
unit.suite.yml
acceptance.suite.yml
functional.suite.yml
